<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/styles/styles.css">
  <title>Document</title>
</head>

<nav class="nav-container">

  <ul class="left-side">
    <li><a href="/">Meetinglink.site</a> </li>
  </ul>
  <ul class="left-side">
    <li><a class="logout" href="/family"><button class="family">Family Fun</button></a></li>
  </ul>

  <ul class="right-side">

    <li><a href="login.html" style="color:darkblue">Log Out</a></li>
  </ul>

</nav>

<style>
  .family {
    background-color: rgb(0, 33, 150);
    border-color: #000000;
    border-width: 6px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    width: 120px;
    cursor: pointer;
    font-size: 15px;
    font: bold;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: corder-box;
  }

  body {
    width: 100%;
    margin: 0 auto;
  }

  .nav-container {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 34, 129);
    display: flex;
    justify-content: space-between;
  }

  .right-side,
  left-side {
    list-style-type: none;
  }

  .right-side li,
  .leftside li {
    display: inline-block;
  }

  .right-side li a,
  .left-side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 10px;
    color: blue;
    padding: 15px 10px;
    font-weight: bold;
  }

  .left-side li a {
    height: 100%;
    width: -5%;
    font-size: 10px;
  }
</style>


</head>


<!-------------------------------PARENT--------------------------------------->
<style>
  .parent {
    margin-right: px;
    float: right;
    width: 130px;
    height: 50px;
  }
</style>
<div class="scroll" id="categories">
</div>




<!------------------------------JS----Button----exc.....------------------------------>

<script>
  var selectedCategory = ''

  function onEventClick(id) {
    selectedCategory = id;
    var elements = document.getElementsByClassName("parentlist");
    for (var i = 0; i < elements.length; i++) {
      elements[i].classList.remove('bak');
    }

    document.getElementById(id).classList.add('bak');
  }

  window.onload = function () {

    const categoryTemplate = '<div class="parentlist" id="_ID_"><button class="parent" onclick="onEventClick(\'_ID_\')">_TITLE_</div></button>';

    fetch('/api/categories')
      .then((info) => info.json())
      .then(data => {
        console.log(data);
        document.getElementById('categories').innerHTML = data
          .map((item) => {
            return categoryTemplate.replace(/_ID_/g, item.id).replace('_TITLE_', item.title)
          })
          .join('');
      })
  }
</script>

<body>

  <style>
    .parent {
      background-color: rgb(0, 0, 0);
      color: #419a26;
      color: rgb(255, 255, 255);
      font-size: 18px;
      border-radius: 5px;
      border-color: rgb(2, 177, 11);
      border-width: 4px;
      box-shadow: 0 0 5px rgb(255, 255, 255);
      border-radius: 10px;
    }


    #div2 {
      width: 27.33%;
      float: right;
    }

    #div3 {
      width: 220.33%;
      float: right;

    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #000000;
    }


    input[type='text'],
    input[name='password'] {
      background-color: rgb(0, 0, 0);
      color: white;
      border: 1px solid #ffffff;
      width: 350px;
      height: 35px;
      border-radius: 7px;
      font-size: large;
    }





    h2 {
      color: rgb(255, 255, 255);
      font-size: 35px;
    }



    .save {
      font-size: 25px;
      background-color: rgb(0, 33, 150);
      border-color: #000000;
      border-width: 6px;
      border-radius: 6px;
      color: rgb(0, 0, 0);
      width: 150px;
      cursor: pointer;
      font-size: 21px;
      font: bold;
    }



    label {

      font-size: 20px;
      color: rgb(243, 243, 243);
      margin-left: 7px;

    }
  </style>


  <style type="text/css">
    label {

      display: inline-block'

    }

    #form {
      border-radius: 10px;
      ;
      width: 20px;
      padding: 4px;
    }

    h2 {
      text-align: center;
    }
  </style>


  <h2>Create Catagory</h2>

  <div id="form">


    <label>New.Catagory </label>
    <input type="text" name="name" id="name"><br>

    <label>Icon</label>
    <input type="file" name="icon" id='icon' onchange="onFileChange()"><br>
    <img id="image" src="#" alt="your image" style="width: 50px; height: 50px;" />

    <br>
    <button class="save">
      <a class="submit" style=color:white onclick="onSaveClicked()">save</a>
    </button>

  </div>
  </form>


  <script>
    async function onSaveClicked() {
      debugger;
      var res = document.getElementById('form').getElementsByTagName('input')[0].value || '';

      if (selectedCategory.length > 0 && res.length > 0) {
        try {
          var files = document.getElementById('icon').files;

          var file = files[0];

          var req = new XMLHttpRequest();

          req.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
              window.location.href = '/';
            }
          }

          req.open('POST', '/api/upload', true);
          req.overrideMimeType('application/octet-stream')
          var fd = new FormData();

          fd.append('name', res);
          fd.append('file', file);
          fd.append('categoryId', selectedCategory);
          req.send(fd);
        } catch {

        }

        // location.href = 'index.html';
      }
    }

    function onFileChange() {
      var files = document.getElementById('icon').files;
      if (files && files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById('image').src = e.target.result;
        }

        reader.readAsDataURL(files[0]);
      }
    }
  </script>
</body>



</html>

</html>