<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/styles/styles.css">
  <title>Document</title>
</head>

<nav class="nav-container">

  <ul class="left-side">
    <li><a href="/">Meetinglink.site</a> </li>
  </ul>
  <ul class="left-side">
    <li><a class="logout" href="family.html"><button class="family">Family Fun</button></a></li>
  </ul>

  <ul class="right-side">

    <li><a href="login.html" style="color:darkblue">Log Out</a></li>
  </ul>

</nav>

<style>
  .family {
    background-color: rgb(0, 33, 150);
    border-color: #000000;
    border-width: 6px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    width: 120px;
    cursor: pointer;
    font-size: 15px;
    font: bold;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: corder-box;
  }

  body {
    width: 100%;
    margin: 0 auto;
  }

  .nav-container {
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 34, 129);
    display: flex;
    justify-content: space-between;
  }

  .right-side,
  left-side {
    list-style-type: none;
  }

  .right-side li,
  .leftside li {
    display: inline-block;
  }

  .right-side li a,
  .left-side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 10px;
    color: blue;
    padding: 15px 10px;
    font-weight: bold;
  }

  .left-side li a {
    height: 100%;
    width: -5%;
    font-size: 10px;
  }
</style>



</head>


<!-------------------------------PARENT--------------------------------------->
<style>
  .parent {
    margin-right: px;
    float: right;
    width: 130px;
    height: 50px;
  }
</style>
<div class="scroll">


  <div class="parentlist"><button class='parent' id="parent1">Activities</div></button>

  <div class="parentlist"><button class="parent" id="parent2">Events</div></button>

  <div class="parentlist"><button class="parent" id="parent3">Local Artist</div></button>

  <div class="parentlist"><button class="parent" id="parent4">Family Functions</button></div>

  <div class="parentlist"><button class="parent" id="parent5">Semi Pro Events</button></div>

  <div class="parentlist"><button class="parent" id="parent6">Unusual Events</button></div>

  <div class="parentlist"><button class="parent" id="parent7">Educational Lessons</button></div>

  <div class="parentlist"><button class="parent" id="parent8">FREE Events</button></div>

  <div class="parentlist"><button class="parent" id="parent9">Event Catering</button></div>

  <div class="parentlist"><button class="parent" id="parent10">Local Post</button></div>



</div>









<!-----------------------------CHILD--1--LIST--------------------------------->

<ul id="child1">
  <div class="child">
    <div>
      <label>
        <input type="checkbox" name="list">
        <span>Skate Parks</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="list">
        <span>Kava Bars</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="list">
        <span>Trails</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Parks</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Clubs</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Movies</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Ice Skating</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Boxing Gyms</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Basketball</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Tennis</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Gyms</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Skate Parks</span>
      </label>
    </div>
    </label>
  </div>
</ul>


<!----------------------------CHILD-LIST2------------------------------------------->


<ul id="child2">

  <div class="child">
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Yoga</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Art</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Dancing</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Music</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Educational</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Dating</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Comedy</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Magic</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Stage Show</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Unusual Events</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Kid</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Church</span>
      </label>
    </div>
    </label>
  </div>
</ul>



<!----------------------------------CHILD3-------------------------------------------->


<ul id="child3">

  <div class="child">
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Poetry</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Art</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Dancing</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Music</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Singing</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Shows</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Comedy</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Magic</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Stage Show</span>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="">
        <span>Unusual Events</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Kid</span>
      </label>
    </div>

    <div>
      <label>
        <input type="checkbox" name="">
        <span>Church</span>
      </label>
    </div>
    </label>
  </div>
</ul>


</ul>



<!------------------------------JS----Button----exc.....------------------------------>

<script>
  var selectedTab = ''

  var elements = document.getElementsByClassName("parentlist");
  for (var i = 0; i < elements.length; i++) {
    elements[i].onclick = function () {
      selectedTab = this.getElementsByTagName('button')[0].innerHTML;

      var el = elements[0];
      while (el) {
        if (el.tagName === 'DIV') {

          el.classList.remove('bak');
        }
        el = el.nextSibling;
      }

      this.classList.add('bak');
    };
  }

  const parent1 = document.getElementById('parent1');

  const child1 = document.getElementById('child1');

  child1.style.display = "none";

  parent1.addEventListener("click",
    (event) => {


      if (child1.style.display == "none") {
        child1.style.display = "block";

        child2.style.display = "none";
        child3.style.display = "none";
        // child4.style.display = "none";
        // child5.style.display = "none";
        // child6.style.display = "none";
        // child7.style.display = "none";
        // child8.style.display = "none";
        // child9.style.display = "none";
        // child10.style.display = "none";

      } else {
        child1.style.display = "none";
      }
    })

  const parent2 = document.getElementById('parent2');


  const child2 = document.getElementById('child2');

  child2.style.display = "none";

  parent2.addEventListener("click",
    (event) => {


      if (child2.style.display == "none") {
        child2.style.display = "block";


        child1.style.display = "none";
        child3.style.display = "none";
        // child4.style.display = "none";
        // child5.style.display = "none";
        // child6.style.display = "none";
        // child7.style.display = "none";
        // child8.style.display = "none";
        // child9.style.display = "none";
        // child10.style.display = "none";

      } else {
        child2.style.display = "none";
      }
    })

  const parent3 = document.getElementById('parent3');


  const child3 = document.getElementById('child3');

  child3.style.display = "none";

  parent3.addEventListener("click",
    (event) => {


      if (child3.style.display == "none") {
        child3.style.display = "block";

        child1.style.display = "none";
        child2.style.display = "none";
        // child4.style.display = "none";
        // child5.style.display = "none";
        // child6.style.display = "none";
        // child7.style.display = "none";
        // child8.style.display = "none";
        // child9.style.display = "none";
        // child10.style.display = "none";

      } else {
        child3.style.display = "none";
      }
    })

  const template = `
    <div>
      <label>
        <input type="checkbox" name="">
        <span>TITLE</span>
      </label>
    </div>
      `;

  var events = ['Activities', 'Events', 'Local Artist', 'Family Functions', 'Team Functions', 'Semi Pro Events'];

  events.forEach(function (_item, index) {
    debugger;
    try {
      const added = JSON.parse(localStorage.getItem(_item) || '[]');

      var chldd = document.getElementById('child' + (index + 1)).getElementsByClassName('child')[0];

      chldd.innerHTML = chldd.innerHTML + added
        .map((_res) => {
          return template.replace('TITLE', _res)
        })
        .join('')
    } catch {

    }
  })




</script>







<body>

  <style>
    .parent {
      background-color: rgb(0, 0, 0);
      color: #419a26;
      color: rgb(255, 255, 255);
      font-size: 18px;
      border-radius: 5px;
      border-color: rgb(2, 177, 11);
      border-width: 4px;
      box-shadow: 0 0 5px rgb(255, 255, 255);
      border-radius: 10px;
    }


    #div2 {
      width: 27.33%;
      float: right;
    }

    #div3 {
      width: 220.33%;
      float: right;

    }

    * {
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #000000;
    }


    input[type='text'],
    input[name='password'] {
      background-color: rgb(0, 0, 0);
      color: white;
      border: 1px solid #ffffff;
      width: 350px;
      height: 35px;
      border-radius: 7px;
      font-size: large;
    }





    h2 {
      color: rgb(255, 255, 255);
      font-size: 35px;
    }

    .save {
      font-size: 25px;
      background-color: rgb(0, 33, 150);
      border-color: #000000;
      border-width: 6px;
      border-radius: 6px;
      color: rgb(0, 0, 0);
      width: 150px;
      cursor: pointer;
      font-size: 21px;
      font: bold;
    }

    label {

      font-size: 20px;
      color: rgb(243, 243, 243);
      margin-left: 7px;

    }
  </style>

  <style type="text/css">
    label {

      display: inline-block'

    }

    #form {
      border-radius: 10px;
      ;
      width: 20px;
      padding: 4px;
    }

    h2 {
      text-align: center;
    }
  </style>


  <h2>Edit Activity </h2>

  <div id="form">


    <label>Name</label>
    <input type="text" name="name" id="name"><br>

    <label>address</label>
    <input type="text" name="address" id="address"><br>

    <label>phone</label>
    <input type="text" name="phone number" id="phone">

    <label>Hours</label>
    <input type="text" name="hours" id="hours">

    <label>Website</label>
    <input type="text" name="website" id="website"><br>

    <label>Description</label>
    <input type="text" name="description" id="description"><br>

    <label>Latitude</label>
    <input type="text" name="password" id="latitude"><br>

    <label>Longitude</label>
    <input type="text" name="longitude" id="longitude"><br>

    <br>
    <button class="save">
      <a class="submit" style=color:white onclick="onSaveClick()">save</a>
    </button>

  </div>
  </form>

</body>
<script>

  const test = location.search.slice(1).split('=');

  if (test.length === 2) {
    window.id = +test[1];

    const buildings = JSON.parse(localStorage.getItem('host') || '[]');

    const building = buildings.find(_building => _building.id == window.id);

    if (building) {
      document.getElementById('name').value = building.name;
      document.getElementById('address').value = building.address;
      document.getElementById('phone').value = building.phone;
      document.getElementById('hours').value = building.hours;
      document.getElementById('website').value = building.website;
      document.getElementById('longitude').value = building.longitude;
      document.getElementById('latitude').value = building.latitude;
      document.getElementById('description').value = building.description;
    }
  }

  function onSaveClick() {
    debugger;

    var name = document.getElementById('name').value;
    var address = document.getElementById('address').value;
    var phone = document.getElementById('phone').value;
    var hours = document.getElementById('hours').value;
    var website = document.getElementById('website').value;
    var description = document.getElementById('description').value;
    var longitude = document.getElementById('longitude').value;
    var latitude = document.getElementById('latitude').value;

    const inputs = document.querySelectorAll('input[type=checkbox]');

    let category = ''
    for (let i = 0; i < inputs.length; ++ i) {
      if (inputs[i].checked == true) {
        category = inputs[i].parentNode.children.item(1).textContent;
        break;
      }
    }

    if (name.length > 0 && longitude.length > 0 && latitude.length > 0 && category.length > 0) {
      var addedString = localStorage.getItem('host') || '[]';

      var added = JSON.parse(addedString);
      var res = JSON.parse(JSON.stringify({
        id: window.id || parseInt(Math.random() * 1000),
        name,
        address,
        phone,
        hours,
        website,
        description,
        longitude: +longitude,
        latitude: +latitude,
        category,
      }));

      existBuilding = added.find(_add => _add.id == res.id);

      added = added.map(_added => {
        if (_added.id == res.id) {
          return res;
        }

        return _added;
      })

      if (!existBuilding) {
        added.push(res);
      }
      
      localStorage.setItem('host', JSON.stringify(added))

      location.href = '/';
    }
  }
</script>


</html>









</html>