<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<nav class="nav-container">

  <ul class="left-side">
     <li><a href="index.html">Meetinglink.site</a> </li>
  </ul>
  <ul class="left-side">
    <li><a class="logout" href="family.html"><button class="family">Family Fun</button></a></li> 
  </ul>

  <ul class="right-side">
    
     
     <li><a href="login.html" style="color:darkblue">Log Out</a></li>
  </ul>


  </style>

 </nav>

<style>

.family
      {
      background-color: rgb(0, 33, 150);
      border-color: #000000;
      border-width: 6px;
      border-radius: 6px;
      color:rgb(255, 255, 255);
      width: 160px; 
      cursor: pointer;
      font-size: 15px;
      font: bold;
      }



body
{
  background-color: rgb(0, 0, 0);
}




 *
 {
  padding: 0;
  margin: 0;
  box-sizing: corder-box;
 }
 body
 {
  width: 100%;
  margin: 0 auto;
 }
 .nav-container
 {
  background-color:rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 34, 129);
  display: flex;
  justify-content: space-between;
 }
 .right-side, left-side
 {
  list-style-type: none;
 }
 .right-side li, .leftside li
 {
  display: inline-block;
 }
 
 .right-side li a, .left-side li a
 {
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 10px;
  color:blue;
  padding: 15px 10px;
  font-weight: bold;
 }

 .left-side li a
 {
  height: 100%;
  width: -5%;
  font-size: 10px;
 }
  
 .family2
 {
  position:absolute;
  right: 0.6%;
  border-radius: 5px;
  color:rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(1, 1, 154);
  cursor: pointer;
  width: 240px;
 }

</style>

<body>
  <br>
  <img  src="family-tree.jpg" class="familytree"> 

<!-------------------------------------------SEARCH--UP--LIST------------------------------------------------------------------------->

                                                    <style>
                                                      .parent    
                                                    {
                                                      margin-right: px;
                                                      float: right;
                                                      width: 130px;
                                                      height: 50px;
                                                    }
                                                    </style>
                                       <div class="scroll">



<div class="parentlist"><button class='parent' id="parent1">Ages</div></button> 

<div class="parentlist"><button class="parent" id="parent2">Birthdays</div></button>

<div class="parentlist"><button class="parent" id="parent3">Family Gatherings</div></button>

<div class="parentlist"><button class="parent" id="parent4">AI photos Generator</button></div>

<div class="parentlist"><button class="parent" id="parent5">Special Occasions</button></div>

<div class="parentlist"><button class="parent" id="parent6">Vacations</button></div>

<div class="parentlist"><button class="parent" id="parent7">Events</button></div>

<div class="parentlist"><button class="parent" id="parent8">Kids</button></div>

<div class="parentlist"><button class="parent" id="parent9">Weddings</button></div>

<div class="parentlist"><button class="parent" id="parent10">Select All</button></div>

<div class="parentlist"><button class="parent" id="parent11"><a href="addphoto.html">Add Photos Here</a></button></div>


</div>









<!-----------------------------CHILD--1--LIST--------------------------------->

<ul id="child1">



<div class="child"> 
<div>
<label>
<input type="checkbox" name="list">
<span>-.8-10</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="list">
<span>10-20</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="list">
<span>21-30</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>31-40</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>41-50</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>51-60</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>61-70</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>71-80</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>81-90</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>91-100</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>101-110</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>oh i think he dead</span>
</label>
</div>
</label>
</div>
</ul>


<!----------------------------CHILD-LIST2------------------------------------------->


<ul id="child2">

  <div class="child"> 
    <div>
    <label>
    <input type="checkbox" name="list">
    <span>-.8-10</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="list">
    <span>10-20</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="list">
    <span>21-30</span>
    </label>
    </div>
    <div>
    <label>
    <input type="checkbox" name="">
    <span>31-40</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>41-50</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>51-60</span>
    </label>
    </div>
    <div>
    <label>
    <input type="checkbox" name="">
    <span>61-70</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>71-80</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>81-90</span>
    </label>
    </div>
    <div>
    <label>
    <input type="checkbox" name="">
    <span>91-100</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>101-110</span>
    </label>
    </div>
    
    <div>
    <label>
    <input type="checkbox" name="">
    <span>oh i think he dead</span>
    </label>
    </div>
    </label>
    </div>
    </ul>


<!----------------------------------CHILD3-------------------------------------------->


<ul id="child3">

<div class="child"> 
<div>
<label>
<input type="checkbox" name="">
<span>Chrismas</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Easter</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Thanksgiving</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>Weedings</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Singing</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Shows</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>Comedy</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>All Birthdays</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Stage Show</span>
</label>
</div>
<div>
<label>
<input type="checkbox" name="">
<span>Unusual Events</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Kid</span>
</label>
</div>

<div>
<label>
<input type="checkbox" name="">
<span>Church</span>
</label>
</div>
</label>
</div>
</ul>


</ul>


<!----------------------------------CHILD4-------------------------------------------->


<ul id="child4">

  <div class="child"> 
  <div>
  <label>
  <input type="checkbox" name="">
  <span>All Weddings</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Your Weddings</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Thanksgiving</span>
  </label>
  </div>
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Birthdays</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Singing</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Shows</span>
  </label>
  </div>
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Comedy</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>All Birthdays</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Stage Show</span>
  </label>
  </div>
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Unusual Events</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Kid</span>
  </label>
  </div>
  
  <div>
  <label>
  <input type="checkbox" name="">
  <span>Funerals</span>
  </label>
  </div>
  </label>
  </div>
  </ul>
  
  
  </ul>
  
  


 
 
<!------------------------------JS----Button----exc.....------------------------------>

<script>

var elements = document.getElementsByClassName("parentlist");
for(var i = 0; i <elements.length; i++)
{
elements[i].onclick = function()
{

var el = elements[0];
while(el)
{
  if(el.tagName === 'DIV'){

    el.classList.remove ('bak');
  }
  el = el.nextSibling;
}

this.classList.add('bak');
};
}

 </script>


 

 </div>         


<body>

  <style>
     
     
.parent
{
background-color: rgb(0, 0, 0); color:#419a26;
color: rgb(255, 255, 255);
font-size: 18px;
border-radius: 5px;
border-color: rgb(2, 177, 11);
border-width: 4px;
box-shadow: 0 0 5px rgb(255, 255, 255);
border-radius: 10px;
}


    #div2
    {
      width: 27.33%;
      float: right;
    }
    
    #div3
    {
      width: 220.33%;
      float: right;
      
    } 

    *
    {
    margin: 0;
    padding: 0;
    }
    body
    {  
      background-color: #000000;
    }


    input[type='text'], input[name='password']
      {
        background-color: rgb(0, 0, 0) ;
        color: white;
        border: 1px solid #ffffff;
        width: 350px;
        height: 35px;
        border-radius: 7px;
        font-size: large;
      }
      
      
        
    
     
     h2
    {
      color:rgb(255, 255, 255);
      font-size: 35px;
    }
    
    </style>         

<!------------------------------JS----Button----exc.....------------------------------>

<script>

var elements = document.getElementsByClassName("parentlist");
for(var i = 0; i <elements.length; i++)
{
elements[i].onclick = function()
{

var el = elements[0];
while(el)
{
if(el.tagName === 'DIV'){

el.classList.remove ('bak');
}
el = el.nextSibling;
}

this.classList.add('bak');
};
}










const parent1 = document.getElementById('parent1');


const child1 = document.getElementById('child1');



child1.style.display = "none";

parent1.addEventListener("click",
(event) => {


if(child1.style.display == "none"){
child1.style.display = "block";



child2.style.display = "none";
child3.style.display = "none";
child4.style.display = "none";
child5.style.display = "none";
child6.style.display = "none";
child7.style.display = "none";
child8.style.display = "none";
child9.style.display = "none";
child10.style.display ="none";

} else {
child1.style.display = "none";
}
})

const parent2 = document.getElementById('parent2');


const child2 = document.getElementById('child2');

child2.style.display = "none";

parent2.addEventListener("click",
(event) => {


if(child2.style.display == "none"){
child2.style.display = "block";


child1.style.display = "none";
child3.style.display = "none";
child4.style.display = "none";
child5.style.display = "none";
child6.style.display = "none";
child7.style.display = "none";
child8.style.display = "none";
child9.style.display = "none";
child10.style.display ="none";

} else {
child2.style.display = "none";
}
})

const parent3 = document.getElementById('parent3');


const child3 = document.getElementById('child3');

child3.style.display = "none";

parent3.addEventListener("click",
(event) => {


if(child3.style.display == "none"){
child3.style.display = "block";

child1.style.display = "none";
child2.style.display = "none";
child4.style.display = "none";
child5.style.display = "none";
child6.style.display = "none";
child7.style.display = "none";
child8.style.display = "none";
child9.style.display = "none";
child10.style.display ="none";

} else {
child3.style.display = "none";
}
})

const parent4 = document.getElementById('parent4');


const child4 = document.getElementById('child4');

child4.style.display = "none";

parent4.addEventListener("click",
(event) => {


if(child4.style.display == "none"){
child4.style.display = "block";

child1.style.display = "none";
child2.style.display = "none";
child3.style.display = "none";
child5.style.display = "none";
child6.style.display = "none";
child7.style.display = "none";
child8.style.display = "none";
child9.style.display = "none";
child10.style.display ="none";

} else {
child3.style.display = "none";
}
})













</script>




<!-----------------------------------------------------STYLE--FOR--PARENT--AND--CHILD--LIST------------------------------------------>


<style>


.child {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-style:oblique;
}

.child div {
  margin: 2px;
}

.child div label input[type="checkbox"]
{
  display: none;
}

.child div label span
{
  position: relative;
  display: inline-block;
  background: #dedfde;
  padding: 15px 30px;
  color: #000000;
  text-shadow: 0 1px 4px rgba(0,0,0,5);
  border-radius: 30px;
  font-size: 20px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
  font-style: italic;
  font: bold;
}

.child div label span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rrgb(255, 255, 255. 0,);
}

.child div label input[type="checkbox"]
checked ~ span
{
  background: #ffffff;
}

.child  /*div:nth-child(6n + 1)*/ label input[type="checkbox"]:checked~span
{
color: #00d215;
background: rgb(0, 33, 150);;
box-shadow: 0 2px 20px #e91e63 rgb(237, 237, 237);
}





</style>













<!-------------------------------------------FAMILY--PHOTOS---------------------------------------------------------------------------->
 
 <style>
.familytree
{
   display:block;
  margin-left: auto;
  margin-right:auto;
  width: 350px;
  height: 400px;
}
</style>

        <div class="gallery-wrap">
  
          <div class="gallery">
        
         
            <div>
  <span><img src="des3.jpg"></span> </div><div>
  <span><img src="des40.jpg"></span></div><div>
  <span><img src="des43.jpg"></span></div><div>
  <span><img src="des6.jpg"></span></div><div>
  <span><img src="des7.jpg"></span></div><div>
  <span><img src="des8.jpg"></span></div><div>
  <span><img src="des9.jpg"></span></div><div>
  <span><img src="des11.jpg"></span></div><div>
  <span><img src="des12.jpg"></span></div><div>
  <span><img src="des13.jpg"></span></div><div>
  <span><img src="des14.jpg"></span></div><div>
  <span><img src="des15.jpg"></span></div><div>
  <span><img src="des16.jpg"></span></div><div>
  <span><img src="des17.jpg"></span></div><div>
  <span><img src="des18.jpg"></span></div><div>
  <span><img src="des19.jpg"></span></div><div>
  <span><img src="des20.jpg"></span></div><div>
  <span><img src="des21.jpg"></span></div><div>
  <span><img src="des22.jpg"></span></div><div>
  <span><img src="des29.jpg"></span></div><div>
  <span><img src="des28.jpg"></span></div><div>
  <span><img src="des23.jpg"></span></div><div>
  <span><img src="des24.jpg"></span></div><div>
  <span><img src="des25.jpg"></span></div><div>
  <span><img src="des38.jpg"></span></div><div>
  <span><img src="des37.jpg"></span></div><div>
  <span><img src="des26.jpg"></span></div><div>
  <span><img src="des27.jpg"></span></div><div>
  <span><img src="des28.jpg"></span></div><div>
  <span><img src="des29.jpg"></span></div><div>
  <span><img src="des30.jpg"></span></div><div>
  <span><img src="des31.jpg"></span></div><div>
  <span><img src="des32.jpg"></span></div><div>
  <span><img src="des39.jpg"></span></div><div>
  <span><img src="des10.jpg"></span></div><div>
              </div></div>
 <script>
  let scrollContainer = document.querySelector(".gallery");
  let backbtn = document.getElementById("backbtn.png");
  let nextbtn = document.getElementById("nextbtn.png");
  
  scrollContainer.addEventListener("wheel", (evt) => {
    evt.preventDefault();
    scrollContainer.scrollLeft += evt.deltaY;
    scrollContainer.style.scrollBehavior = "auto";
  });

  nextbn.addEventListener("click",  ()=>{
    scrollContainer.style.scrollBehavior = "smooth";
    scrollContainer.scrollLeft += 900;
  });
  backbtn.addEventListener("click", ()=>{
    scrollContainer.style.scrollBehavior = "smooth";
    scrollContainer.scrollLeft -= 900;
  })

 </script>

<style>
  *
  {
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
  }

 
  .gallery
  {
    width: 2000px;
    display: flex;
    overflow-x: scroll;
  }
  
  .gallery div
  {
    width: 100%;
    display: grid;
    grid-template-columns: auto ;
    grid-gap: 20p;
    padding: 10px;
    flex: none;
  }
  
  .gallery div img
  {
    width: 97%;
    transition: transform 0.5s;
  }

  .gallery::-webkit-scrollbar
  {
    display: none;
  }

.gallery-wrap
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}
#backbt
{
  width: px;
  cursor: pointer;
  margin-left: auto;
  margin: px;
}

#nextbtn
{
  width: px;
  cursor: pointer;
  margin-right: auto;
  margin: px;
  
}
 
.gallery div img:hover
{
 filter: grayscale(0);
 cursor: pointer;
 transform: scale(1.2);
}

</style>
</body>
</html>